
# Análisis Exploratorio de Datos

# Tema 1: Introducción al análisis exploratorio de datos

## ¿Qué es y para qué sirve el análisis exploratorio de datos?

**Que aprenderas en esta lectura?**

- Entenderas que es y para que sirve un **A**nalisis **E**xploratorio de **D**atos (**E**xploratory **D**ata **A**nalysis o **E.D.A**).
- Concoeras los dsitintos tipos de analisis de datos que existen.
0 Identificaras distintos tipos de variables y analisis que puedes realizar con ellas.
- Seras capaz de explorar conjuntos de datos de $n$ varaiables.
- Identificaras las **ventajas** y **desventajas** de distintas visualizaciones de datos.

**Conocimientos requeridos:**

Para que puedas ir realizando y entendiendo los trabajos al par de la lectura, se asume que posees conocimientos previos en.

- Python y algun notebook de tu preferencia.
- Principios de visualizacion de datos.
- Pandas y NumPy.
- Matplotlib y Seaborn.
- Estadistica.

### Que es el Analisis Exploratorio de Datos (E.D.A)

En pocas palabras un [Analisis exploratorio de datos](https://es.wikipedia.org/wiki/An%C3%A1lisis_exploratorio_de_datos) es el proceso determinado por el cientifico [John W. Turkey](https://es.wikipedia.org/wiki/John_W._Tukey) para su tratamiento estadistico de muestras recogidas durante la investigacion.

**Los procesos basicos para un E.D.A**

1. **Transformar los datos:** Nos sirve para saber que hacer frente a valores nulos, faltantes o datos atípicos. Además de establecer si hay necesidad de reducir la dimensionalidad de datos.

1. **Visualizar:** Utilizar alguna herramienta para hacer una representación gráfica de los datos por ejemplo, R, Jupyter notebook, Google Colab, etc.

1. **Analizar e Interpretar:** Analizar e interpretar los datos a través de diferentes visualizaciones.

1. **Documentar:** Documentar todas las gráficas y estadísticas generadas.

Los puntos sera trabajar en el proceso de **conocer en detalle nuestros datos** y ortogarles un sentido, poder **determinaremos la forma correcta de como tratarlos**, indagar en en ellos para **obtener las respuestas que necesitemos** y **transformar los datos en informacion util**.

## ¿Cómo hacer un análisis exploratorio de datos?

### Por que deberias realizar un Analisis Exploratorio de Datos?

**Organizar y entender las variables**

Lograremos identificar los distintos tipos de variables, las categorias a las que pertenecen y por consiguiente el tipo de analisis que podemos realizar con ellas.

**Establecer relaciones entre variables**

Lograr establecer realciones entre las variables, por ejemplo ver como una variable se modifica si la grafico junto a otra,

**Encontrar patrones ocultos en los datos**

Encontraras patrones que de no haber hecho las visualizaciones y la exploracion de los datos no hubieran sido visibles a simple vista.

Este sera el punto donde buscaremos encontrar los **data insights**

**Ayudarte a escorger el modelo correcto para la necesidad correcta**

Al empezar con un conjunto de datos podemos pensar que elegiremos algun modelo que prediga $X$ cosa, pero no obstante sin antes identificar que varibles sirven, cuales no sirven, como se encuentran relacionadas, cuales son las variables que mejor se ajustan a algun tipo de modelo u otro, lo mas probable es que al construir el modelo tengamos un resultado deficiente.

El realizar el EDA nos ayudara a encontrar el modelo correcto para la necesidad correcta.

**Ayuda a la toma de decisiones basadas en datos**

La toma de decisiones basadas en los datos sera uso de hechos, métricas y datos para guiar decisiones estratégicas que se alineen con las metas, objetivos y las iniciativas de nuestra organización.

### Cuales son los pasos para realizar un analisis exploratorio de datos?

En cada paso para nuestro EDA, deberemos tener en cuenta una serie de preguntas para lograr avanzar en el analisis.

**PASO 1: Hacer preguntas**

Una vez visualizados los datos, debemos empezar a preguntarnos sobre ellos.

- Que te gustaria encontrar?
- Que quisieras saber de los datos?
- Cual es la razon para realizar el analisis?

Una vez tengamos nuestras preguntas, podremos generar una guia para nuestro proceso de exploracion de datos

**PASO 2: Determinar el tamano de los datos**


- Cuantas observaciones existen?
- Cuantas variables hay?
- Necesito todas las observaciones?
- Necesito todas las variables?

**PASO 3: Categorizar las variables**

- Cuantas variables categoricas existen?
- Cuantas variables continuas existen?
- Como puedo explorar cada variable dependiendo de su categoria?

**PASO 4: Limpieza y validacion de datos**

- tengo valores faltantes?
- Cual es la proporcion de datos faltantes
- Como puedo tratar los datos faltantes?
- Cual es la distribucion de los datos?
- Tengo valores atipicos?

**PASO 5: Establecer relaciones**

- Existen algun tipo de relacion entre mi variable $X$ y $Y$>
- Que pasa si ahora considero a la variable $Z$ en el analisis?
- Que significa que las observaciones se agrupen?
- Que significa el patron que se observa?


> Este proceso es ciclico. A pesar de que pueda parecer infinito, este proceso en algun momento debe salir del ciclo y continuar para obtener algun tipo de valor

<img src='https://www.researchgate.net/publication/284215308/figure/fig12/AS:668708305383433@1536443892537/Fases-componentes-de-la-metodologia-CRISP-DM-7.ppm' width='328'>
<img src='https://static.platzi.com/media/user_upload/graph13-1d72d4bc-0711-48fc-b529-6c232c79259e.jpg' width='500'>

## Tipos de análisis de datos

### Tipos de analitica de datos

Sin importar el tamano del conjunto de datos que tengamos, podemos dividir el conjunto de datos en 4 partes evocando a una pregunta escencial por cada etapa

#### Analitica Descriptiva 

Es el análisis más básico. Permite dar una vista general de las propiedades, dimensiones y comportamiento de un fenómeno desde la mera descripción de los datos.

#### Analitica Diagnostica 

Es aplicar unos criterios diferenciales a los datos descriptivos para identificar una situación problemática. Permite establecer relaciones entre variables y crear hipótesis sobre las posibles causas de su comportamiento actual.

#### Analitica Predictiva 

Utiliza datos para explicar un posible comportamiento de las variables de interés si se siguen las tendencias actuales o si estas cambian. Permite determinar si la situación problemática identificada puede representar mayor o menor riesgo en el futuro.

#### Analitica Prescriptiva 

Utiliza datos para apoyar la toma de decisiones, con base en eventos del pasado. Propone soluciones basadas en evidencia. Igualmente, la etapa prescriptiva también puede hacer iniciar el ciclo de nuevo, ya que monitorear la solución también da pie a procesos nuevos de descripción y diagnóstico de ese monitoreo, volviendo a iniciar el ciclo una vez más.

<img src='https://gravitar.biz/wp-content/uploads/2021/07/tipos-de-analitica-gravitar_Mesa-de-trabajo-1.png' width='450'>

### Ejemplo

1. __Analitica Descriptiva (Que sucedio?)__\
    Fuiste a dormir por la noche como cualquier otra sintiendote bien, pero al despertar te das cuenta que te sientes fatigado, con dolor muscular, flema y fiebre. Al preguntarte que esta sucedientio hiciste una descripcion de los sintomas que te hacen sentir mal.
    Al tratar de averiguar por que te sientes mal recuerdas que estuviste junto a un companero de trabajo que se sentia enfermo hace dos dias, por lo que que decides ir al medico para poder recibir un diagnostico

2. __Analitica Diagnostica (Porque sucedio?)__\
    Cuando llegas al hospital, el doctor hara un breve interrogatorio para tener una descripcion general de lo que te esta ocurriendo, pidiendote que le repitas los sintomas que tienes en ese momento para luego darte un diagnostico y concluir de que tienes un resfriado comun tas la descripcion de tus sintomas.

3. __Analitica Predictiva (Que podría pasar si?)__\
    Antes de irte del hospital, una enfermeta te detiene y te menciona que quiere hacerte unos analisis ya que puede ocurrir el caso de lo que seria una enfermedad comun para la normalidad de las personas, a ti te trate completamente diferente, por lo cual la enfermera realiza los analisis necesarios para saber si puede ocurrir una situacion inesperada ante esta enfermedad por cierta condicion, tras los analisis se concluye que estas bien y pasas a la siguiente etapa

4. __Analitica Prescriptiva (Que debería hacerse?)__\
    La enfermera al llegar a la conclusion de que te encuentras bien, te da el alta y previamente te preescribe los medicamentos y tipo de descanso que tendras que realizar.

## Tipos de datos y análisis de variables

### Tipos de variables

Las variables categóricas pueden clasificarse en:

#### Variables categóricas

[**Variable nominal**](https://es.wikipedia.org/wiki/Variable_estad%C3%ADstica#Variable_nominal)

Es aquella variable cualitativa cuya categoría no sigue ningún orden, se agrupa sin ninguna jerarquía entre sí.

Ejemplos:

- Lateralidad (zurdo, diestro)
- Estado civil (soltero, casado, divorciado, unión libre)
- Grupo sanguíneo (Grupo A-Grupo B-Grupo AB-Grupo 0)

[**Variable ordinal**](https://es.wikipedia.org/wiki/Variable_estad%C3%ADstica#Variable_ordinal)

Son aquellas variables categóricas con orden secuencial o progresión natural esperable o jerarquía.

Ejemplos:

- Medalla deportiva (oro, plata, bronce)
- Nivel de clase educativa (último año, primer año, etc.)

#### Variables numéricas

[**Variables continuas**](https://es.wikipedia.org/wiki/Variable_estad%C3%ADstica#Variables_continuas)

Son aquellas características que se miden dentro de un rango continuo infinito de valores numéricos y se registran con números reales. Pueden presentar cualquier valor dentro de cierto intervalo.

Ejemplos:

- Estatura (1,76543 m)
- Peso (55,6625 kg)
- Tamaño de lesión de leishmaniasis (6,0458 mm)

[**Variables discretas**](https://es.wikipedia.org/wiki/Variable_estad%C3%ADstica#Variables_discretas)

También llamadas discontinuas, están asociadas a conteos o enumeraciones, razón por la cual solo pueden registrarse con números enteros (0,1,2,3, etc.)

Ejemplos:

- Número de hijos en una familia (0, 1, 2, 3, etc.)
- Número de familias residentes en una manzana (20, 25, 45)
- Número de insectos atrapados en una red (0, 1, 2, 5, 10)

### Tipos de analisis

#### Analisis Univariado

El Analisis Univariado busca analizar cada variable por separado, entender sus caracteristicas y como se definen por si misma.

#### Analisis Bivariado

El Analisis Bivariado busca analizar la relacion de cada par de variables. Permite buscar relaciones intrinsecas entre los datos

#### Analisis Multivariado

El Analisis Multivariado busca analizar el efecto simultaneo de multiples variables. Analiza la variables como un conjunto
______

> En el comienzo de la EDA, el análisis univariado te va a dar informacion mucho mas valiosa que comenzar con todas las variables al mismo tiempo. Te ayuda a analizar la contribución individual de una variable sobre las demas para luego incrementar la cantidad de variables y analizar los efectos en conjunto.

## Herramientas de software para el análisis exploratorio de datos

Existen una gran variedad de herramientas que podemos usar, esto sera un proceso en el que tendras que ver por tu cuenta cual es tu herramienta preferida, ya que al fin de cuentas lo que importara son los resultados que entregues.

Aca tienes un listado de herramientas de las que puedes probar:

- Jupyter 
- R Studio
- Visual Studio COde
- Google Colab
- Deepnote
- Amazon EMR
- Amazon SageMaker
- Azure Machine Learning
- Google Cloud Plataform
- Apache Spark

La plataforma que usaremos sera la de Deepnote, pero sientete comodo de escoger la que mas te guste!

## Conociendo nuestros datos: palmerpenguis

### Instalar librerias necesarias

In [5]:
!pip install --upgrade pip
!pip install palmerpenguins numpy pandas seaborn matplotlib empiricaldist statsmodels sklearn pyjanitor

Requirement already satisfied: pip in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (21.2.4)
Collecting pip
  Downloading pip-22.2.2-py3-none-any.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 1.8 MB/s eta 0:00:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.2.4
    Uninstalling pip-21.2.4:
      Successfully uninstalled pip-21.2.4
Successfully installed pip-22.2.2
Collecting palmerpenguins
  Downloading palmerpenguins-0.1.4-py3-none-any.whl (17 kB)
Requirement already satisfied: numpy in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (1.20.3)
Requirement already satisfied: pandas in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (1.3.4)
Requirement already satisfied: seaborn in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (0.11.2)
Requirement already satisfied: matplotlib in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (3.4.3)
Collecting empiricaldist
  Downloading empiricaldist-0.6.7.tar.gz (11 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: statsmodels in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (0.12.2)
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Collecting pyjanitor
  Downloading pyjanitor-0.23.1-py3-none-any.whl (147 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 147.7/147.7 kB 2.4 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: scipy>=1.0 in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (from seaborn) (1.7.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (from matplotlib) (3.0.4)
Requirement already satisfied: patsy>=0.5 in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (from statsmodels) (0.5.2)
Requirement already satisfied: scikit-learn in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (from sklearn) (1.1.2)
Requirement already satisfied: multipledispatch in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (from pyjanitor) (0.6.0)
Collecting pandas-flavor
  Downloading pandas_flavor-0.3.0-py3-none-any.whl (6.3 kB)
Collecting natsort
  Downloading natsort-8.2.0-py3-none-any.whl (37 kB)
Requirement already satisfied: six in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (from cycler>=0.10->matplotlib) (1.16.0)
Collecting lazy-loader==0.1rc2
  Downloading lazy_loader-0.1rc2-py3-none-any.whl (5.1 kB)
Collecting xarray
  Downloading xarray-2022.9.0-py3-none-any.whl (943 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 943.1/943.1 kB 9.7 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (from scikit-learn->sklearn) (2.2.0)
Requirement already satisfied: joblib>=1.0.0 in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: packaging>=20.0 in /home/mazzaroli/anaconda3/lib/python3.9/site-packages (from xarray->pandas-flavor->pyjanitor) (21.0)
Building wheels for collected packages: empiricaldist, sklearn
  Building wheel for empiricaldist (setup.py) ... done
  Created wheel for empiricaldist: filename=empiricaldist-0.6.7-py3-none-any.whl size=11972 sha256=80902440607b877e81d4ab892d0ad559d717873887ac75b720a41e380486f852
  Stored in directory: /home/mazzaroli/.cache/pip/wheels/1a/33/5a/05bbe93cd4709e7a777f8379efb54114a8f7f6dcb3787805fb
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1309 sha256=30b4021998bf28936e0bed7361696242f3aae568d965e08a49b3f058cd06f1bf
  Stored in directory: /home/mazzaroli/.cache/pip/wheels/e4/7b/98/b6466d71b8d738a0c547008b9eb39bf8676d1ff6ca4b22af1c
Successfully built empiricaldist sklearn
Installing collected packages: empiricaldist, natsort, lazy-loader, xarray, sklearn, palmerpenguins, pandas-flavor, pyjanitor
Successfully installed empiricaldist-0.6.7 lazy-loader-0.1rc2 natsort-8.2.0 palmerpenguins-0.1.4 pandas-flavor-0.3.0 pyjanitor-0.23.1 sklearn-0.0 xarray-2022.9.0

### Importar librerias

In [2]:
import empiricaldist
import janitor
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import palmerpenguins
import scipy.stats
import seaborn as sns
import sklearn.metrics
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats as ss

### Establecer apariencia general de los graficos

In [3]:
%matplotlib inline
sns.set_style(style='whitegrid')
sns.set_context(context='notebook')
plt.rcParams['figure.figsize'] = (11,9.4)

penguin_color = {
    'Adelie':'#ff6602ff',
    'Gentoo':'#0f7175ff',
    'Chinstrap':'#c65dc9ff',
}

### Cargar los datos

#### Utilizando el paquete palmerpenguins

#### Datos Crudos

In [12]:
raw_penguins_df = palmerpenguins.load_penguins_raw()
raw_penguins_df

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,2007-11-11,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,2007-11-11,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,2007-11-16,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,2007-11-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,2007-11-16,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,PAL0910,64,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N98A2,Yes,2009-11-19,55.8,19.8,207.0,4000.0,MALE,9.70465,-24.53494,NaN
340,PAL0910,65,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N99A1,No,2009-11-21,43.5,18.1,202.0,3400.0,FEMALE,9.37608,-24.40753,Nest never observed with full clutch.
341,PAL0910,66,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N99A2,No,2009-11-21,49.6,18.2,193.0,3775.0,MALE,9.46180,-24.70615,Nest never observed with full clutch.
342,PAL0910,67,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N100A1,Yes,2009-11-21,50.8,19.0,210.0,4100.0,MALE,9.98044,-24.68741,NaN
343,PAL0910,68,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N100A2,Yes,2009-11-21,50.2,18.7,198.0,3775.0,FEMALE,9.39305,-24.25255,NaN

#### Datos Previamente procesados

In [9]:
preprocess_penguins_df = palmerpenguins.load_penguins()
preprocess_penguins_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

#### Utilizando los conjuntos de datos de seaborn

In [13]:
sns.load_dataset('penguins')

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

#### Utilizando la interfaz de Deepnote

links de importacion de datos:

- [Conjutno de datos crudos](https://raw.githubusercontent.com/allisonhorst/palmerpenguins/master/inst/extdata/penguins_raw.csv)
- [Conjutno de datos previamente procesados](https://raw.githubusercontent.com/allisonhorst/palmerpenguins/master/inst/extdata/penguins.csv)

## Recolección de datos, limpieza y validación

## Ejercicio de validación de datos

# Tema 2: Análisis univariado

## Explorando una variable categórica: conteos y proporciones

## Estadística descriptiva aplicada: medidas de tendencia central

## Estadística descriptiva aplicada: medidas de dispersión

## Ejercicio de obtención de medidas de dispersión

## Estadística descriptiva aplicada: distribuciones

## Estadística descriptiva aplicada: funciones de densidad de probabilidad

## Bonus: Teorema del límite central

# Tema 3: Análisis bivariado

## Estableciendo relaciones: gráficos de puntos

## Estableciendo relaciones: gráficos de violín y boxplots

## Estableciendo relaciones: matrices de correlación

## Limitantes de los coeficientes de correlación lineal

## Estableciendo relaciones: análisis de regresión simple

## Limitaciones del análisis de regresión simple

# Tema 4: Análisis multivariado

## Análisis de regresión múltiple

## Visualización del análisis de regresión múltiple

## Análisis de regresión logística

## Paradoja de Simpson

## ¿Qué hacer cuando tengo muchas variables?

# Conclusiones

## Diversidad de gráficas al explorar datos

## Continúa aprendiendo sobre EDA